<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Recipe</title>
</head>
<body>
    <h1>This page shows instructions and description</h1>
    <table>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>description</th> 
        <th>Instructions</th>
        <th>Under 30 mins?</th>
        <th>Created At</th>
        <th>Updated At</th>
        </tr>
            <tr>
                <td>{{ get_one_recipe.id }}</td>
                <td>{{ get_one_recipe.name }}</td>
                <td>{{ get_one_recipe.description }}</td> 
                <td>{{ get_one_recipe.instruction  }}</td>
                <td>{{ get_one_recipe.time }}</td>
                <td>{{ get_one_recipe.created_at }}</td>
                <td>{{ get_one_recipe.updated_at }}</td>
            </tr>
    </table>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
</body>
</html>